<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
    <input type="number" name="valor1" id="valor1" value="{{valor1}}">
    <input type="number" name="valor2" id="valor2"  value="{{valor2}}">
    <input type="number" name="resultado" id="resultado" value="{{resultado}}">
    <input type="submit" value="Calcular">
</form>
</body>
</html>